<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t(".paragraph",
    link_to_tutotial: link_to(t(".link_tutorial_text"),
      "https://www.railstutorial.org/"),
    link_to_book: link_to(t(".link_book_text"),
      "https://www.railstutorial.org/book"),
    link_to_screencast: link_to(t(".link_screencast_text"),
      "http://screencasts.railstutorial.org/"),
    link_to_ror: link_to(t(".link_text"),
      "http://rubyonrails.org/")).html_safe %>
</p>
